@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import "./content.css";
@import "./top-menu.css";

.main {
	height: 900px;
	width: 1440px;
	background-image: url("../images/ironman16-9.jpg");
	margin: auto;
	display: flex;
}

.pasport {
	font-family: 'Teko', sans-serif;
	height: 720px; 
	width: 1380px;
	background: linear-gradient(to bottom right,  rgb(26, 25, 31), rgb(52, 52, 64));
	margin: auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.front-image {
	height: 720px;
    width: 320px;
    background-image: url(../images/ironman_PNG10.png);
    background-size: cover;
    position: absolute;
    margin-left: 440px;
    margin-top: 177px;
    z-index: 6;
}